* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 0;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    padding: 0 2vw;
    width: auto;
}

nav a{
    text-decoration: none;
    color: #383838;
    font-family: "Exo 2";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav a:hover{
    font-weight: 700;
}

header {
    position: relative;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    height: 6rem;
}

.nav-visit{
    background-color: #fec34d;
    clip-path: polygon(6% 1%, 100% 32%, 86% 87%, 13% 100%);
    padding: 17px 45px 15px 35px;
    color:#6e4f12;
    font-family: "Russo One";
    letter-spacing: 3.36px;
}

.nav-visit:hover{
    font-weight: 400;
    text-decoration: underline;
}

h1{
    color: #003D3D;
    font-family: "Russo One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.48px;
    margin: 60px;
}

h2, main p{
    color: #000;
    font-family: "Exo 2";
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}

h2{
    line-height: 65px;
    font-style: italic;
    font-weight: 500;
}

main img{
    max-width: 350px;
    object-fit: cover;
}

.yellow-border, .blue-border, .green-border{
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    margin: 60px;
    padding: 40px;
    display: flex;
}

.yellow-border{
    border-color: #fec34d;
}

.blue-border{
    border-color: #64D8D9;
}

.green-border{
    border-color: #69BA78;
}

.left{
    flex-direction: row;
}

.right{
    flex-direction: row-reverse;
}

.left h2, .left p{
    margin-left: 25px;
}

.right h2, .right p{
    margin-right: 15px;
}

footer{
    display: grid;
    grid-template-areas:
        "slogan slogan contact hours"
        "logo logo contact hours";
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    padding: 20px;
    background-color: #69BA78;
}

footer img{
    grid-area: logo;
    height: 8em;
    align-self: flex-end;
}

.slogan{
    grid-area: slogan;
    color: #002D08;
    font-family: "Russo One";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1em;
    margin-left: 0.5em;
    text-align: left;
    text-transform: uppercase;
}

address{
    grid-area: contact;
    color: #002D08;
    font-family: "Exo 2";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-align: right;
    margin-top: 1em;
}

.hours{
    grid-area: hours;
    color: #002D08;
    font-family: "Exo 2";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    align-self: flex-start;
    margin-top: 1em;
}

.footer-title{
    color: #002D08;
    font-family: "Russo One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
}

.socmed{
    display: flex;
    justify-content: center;
}

.socmed li{
    list-style: none;
    padding: 2em;
}

.fa-brands{
    font-size: 40px;
}

@media (max-width: 1050px){
    .yellow-border, .blue-border, .green-border{
        flex-direction: column;
        margin: 30px;
        padding: 20px;
    }
    h1{
        font-size: 48px;
        text-align: center;
    }
    main img, h2{
        align-self: center;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .right, .left{
        margin-left: 15px;
        margin-right: 15px;
    }
    footer{
        grid-template-areas: 
            "slogan contact hours"
            "logo contact hours";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    footer img{
        height: 6em;
        align-self: center;
    }
}


@media (max-width: 799px) {
    .hamburger{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em;
        cursor: pointer;
    }
    #hamburger-menu{
        display: none;
    }
    #hamburger-menu:checked ~ nav {
        display: block;
    }
    nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        background-color: #fff;
        padding: 20px 0;
        z-index: 1;
        text-align: center;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav li:last-child{
        padding: 40px 0;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
    .hours{
        align-self: center;
        font-size: 16px;
        padding-bottom: 20px;
    }
    address{
        text-align: center;
        font-size: 16px;
    }
    .footer-title{
        font-size: 16px;
    }
    .slogan{
        font-size:20px;
    }
    .socmed li{
        list-style: none;
        padding: 1em;
    }
    .fa-brands{
        font-size: 35px;
    }
}

@media (min-width: 800px){
    #hamburger-menu, .hamburger {
        display: none;
    }
    nav li:last-child{
        padding: 0 10px 0 0;
    }
}